.bracket-css {
  font-size: 0;
}

.bracket-css::after {
  content: '...';
  font-size: 1rem;
}

.bracket-css:hover {
  content: attr(data-bracketless);
  font-size: inherit;
}

.bracket-css:hover::after {
  content: '';
}
